.category__alert--success {
    background-color: #d1e7dd;
    color: #0f5132;
    margin: 0 auto;
    padding: 20px;
    max-width: 1280px;
}

.category__alert--danger {
    background-color: #f8d7da;
    color: #842029;
    margin: 0 auto;
    padding: 10px;
    max-width: 1280px;
}

.category__content {
    margin: 0 auto;
    width: 70%;
}

.create-from {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.create-form__item {
    width: 70%;
}

.create-form__item-input {
    width: 100%;
    height: 50px;
    border: 2px solid #ddd;
    border-radius: 3px;
}

.create-form__button {
    width: 20%;
}

.create-form__button-submit {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.category-table__inner {
    width: 100%;
}


.category-table__header {
    text-align: left;
    font-size: 24px;
}

.category-table__row {
    border-bottom: 2px solid #ddd;
    height: 70px;
}

.category-table__item {
    width: 90%;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 90%;
}

.update-form__item-input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
}

.update-form__button {
    width: 10%;
    margin-right: 10px;
}

.update-form__button-submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #0000ff;
    color: #fff;
    cursor: pointer;
}

.delete-form__button {
    margin-left: 10%;
}

.delete-form__button-submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}